body {
    background: black;
    margin: 0;
}

.main_header {
    position: relative;
    width: inherit;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    position: relative;
}

.header_layout {
    box-sizing: border-box;
    width: 100%;
    display: inherit;
    height: auto;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.main_title {
    font-size: 30px;
    margin-left: 15px;
}

.main_title > a {
    text-decoration-line: none;
    color: red;
}

.fa-tape {
    color: red;
}
.login_container{
     position: absolute;
     top:30px;
     right: 10px;
}

.login_container > a {
    background-color: black;
    padding: 5px;
    color: white;
    transition: inherit;
    border: solid 2px red;
    border-radius: 5px;
    text-decoration-line: none;
}

.introduction_container{
    display: block;
    width: 100%;
    height: 283px;
}
.introduction_writing{
    position: relative;
    top: 120px;
}
.email_container{
      display: flex;
      justify-content: center;
      align-items: center;
}
.email{
      display: flex;
      top: 15px;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 60px;
      font-size: 15px;
      border: solid 2px black;
      border-radius: 15px;
      outline: none;
      padding-left: 10px;
      background-color: rgb(233, 233, 233);
}

.email:hover{
     transition: 0.1s;
     border:solid 3px black;
}


.push_email{
    appearance: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    margin: 0px;
    text-decoration: none;
    webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    webkit-box-pack: center;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    user-select: none;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    background: rgb(180, 9, 20);
    color: rgb(255, 255, 255);
}

.push_email:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}

.introduction_img{
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.Kmovie_img{
    width: 100%;
}

.introduction_writing{
    color: white;
    text-align: center;
}

.cash{
    display: flex;
    position: relative;
    justify-content: center;
    top: 125px;
    background: rgb( 14, 27, 79 );
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 74px;
    color: white;
    padding: 22px;
}


.header_video {
  top: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  position: absolute;
  z-index: -1;
  min-width: 100%;
}

.background_video {
   width: 640px;
   height: 480px;
}

.sub_p{
   margin-top: 10px;
   font-size:13px;
}

.appeal_container{
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(255,255,255);
    top: 50px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: thick double gray;
    min-height: auto;
    padding: 3.5rem 0;
}

.appeal_writing{
    text-align: center;
}


